# ¿qué tan buena fue la película? - **cleaning stage**

#### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Load dataset

In [129]:
movieTemp = pd.read_csv('/content/reviews_pelis.csv')

#### Exploring dataset

In [15]:
movieTemp.head()

,Unnamed: 0,Película / Serie,Personal,Persona 1,Persona 2,Persona 3,Persona 4,Persona 5,Persona 6,Persona 7,...,Persona 18,Persona 19,Persona 20,IMDb,Año,Género,Duración,Presupuesto,Recuadación,Unnamed: 22
0,0,Dune,75,80,20.0,0.0,NaN,74.0,70.0,0.0,...,80,100,80.0,8.0,2021,Acción,155,165000000,402000000,NaN
1,1,Soul,90,60,100.0,0.0,91.0,NaN,75.0,90.0,...,85,100,90.0,8.0,2020,Infantil,100,150000000,121000000,NaN
2,2,Joker,100,95,90.0,80.0,79.0,100.0,95.0,80.0,...,90,100,85.0,8.4,2019,Drama,122,55000000,1074000000,NaN
3,3,The Breakfast Club,100,95,NaN,0.0,76.0,80.0,0.0,85.0,...,80,80,90.0,7.8,1985,Comedia,97,1000000,51500000,NaN
4,4,El Camino,100,95,90.0,0.0,70.0,80.0,85.0,85.0,...,90,85,80.0,7.3,2019,Suspenso,122,NaN,Na,NaN

In [16]:
movieTemp.tail()

,Unnamed: 0,Película / Serie,Personal,Persona 1,Persona 2,Persona 3,Persona 4,Persona 5,Persona 6,Persona 7,...,Persona 18,Persona 19,Persona 20,IMDb,Año,Género,Duración,Presupuesto,Recuadación,Unnamed: 22
28,28,Coco,80,90,80.0,80.0,NaN,80.0,90.0,93.0,...,87,91,NaN,100.0,2017,Adventure,1h 45m,200000000,814337054,NaN
29,29,Moana,90,70,100.0,70.0,100.0,70.0,50.0,NaN,...,100,100,90.0,90.0,2016,Aventura,107,150000000,687228908,NaN
30,30,Moana,80,80,50.0,NaN,NaN,82.0,NaN,70.0,...,97,87,NaN,70.0,2016,Musical,1h 47m,163000000,682600000,NaN
31,31,The Avengers,90,79,100.0,100.0,79.0,87.0,100.0,97.0,...,85,79,97.0,87.0,2012,Acción,143,220000000,1519000000,NaN
32,32,The Avengers,82,85,60.0,90.0,84.0,90.0,95.0,100.0,...,100,70,95.0,90.0,2012,Action,2h 23m,220000000,1520538536,NaN

#### Cleaning columns

Se utiliza `.columns`, que es una propiedad de los dataframes que devuelve los nombres de las columnas

In [18]:
movieTemp.columns

Index(['Unnamed: 0', 'Película / Serie', 'Personal', 'Persona 1', 'Persona 2',
       'Persona 3', 'Persona 4', 'Persona 5', 'Persona 6', 'Persona 7',
       'Persona 8', '...', 'Persona 17', 'Persona 18', 'Persona 19',
       'Persona 20', 'IMDb', 'Año', 'Género', 'Duración', 'Presupuesto',
       'Recuadación', 'Unnamed: 22'],
      dtype='object')

Quitamos las columnas Duración, Presupuesto y Recuadación con `.drop().`

In [19]:
movieTemp2 = movieTemp.drop(columns=['Duración',
       'Presupuesto', 'Recuadación'])

In [21]:
 movieTemp2.head()

,Unnamed: 0,Película / Serie,Personal,Persona 1,Persona 2,Persona 3,Persona 4,Persona 5,Persona 6,Persona 7,Persona 8,...,Persona 17,Persona 18,Persona 19,Persona 20,IMDb,Año,Género,Unnamed: 22
0,0,Dune,75,80,20.0,0.0,NaN,74.0,70.0,0.0,90,...,80,80,100,80.0,8.0,2021,Acción,NaN
1,1,Soul,90,60,100.0,0.0,91.0,NaN,75.0,90.0,100,...,80,85,100,90.0,8.0,2020,Infantil,NaN
2,2,Joker,100,95,90.0,80.0,79.0,100.0,95.0,80.0,90,...,90,90,100,85.0,8.4,2019,Drama,NaN
3,3,The Breakfast Club,100,95,NaN,0.0,76.0,80.0,0.0,85.0,NaN,...,NaN,80,80,90.0,7.8,1985,Comedia,NaN
4,4,El Camino,100,95,90.0,0.0,70.0,80.0,85.0,85.0,70,...,80,90,85,80.0,7.3,2019,Suspenso,NaN

In [22]:
movieTemp2.columns

Index(['Unnamed: 0', 'Película / Serie', 'Personal', 'Persona 1', 'Persona 2',
       'Persona 3', 'Persona 4', 'Persona 5', 'Persona 6', 'Persona 7',
       'Persona 8', '...', 'Persona 17', 'Persona 18', 'Persona 19',
       'Persona 20', 'IMDb', 'Año', 'Género', 'Unnamed: 22'],
      dtype='object')

La propiedad `.shape` devuelve el valor numérico de la cantidad de filas y cloumnas en el dataframe.

In [23]:
movieTemp.shape

(33, 23)

In [24]:
movieTemp2.shape

(33, 20)

Usamos `.columns` para referirnos a las columnas del dataset, y con la función `.lower()` se cambian todos los caractéres de letras a minúsculas. Se usa un ciclo `for` para iterar por todas las columnas.

In [132]:
movieTemp.columns = [col.lower() for col in movieTemp]
movieTemp.head(1)

,unnamed: 0,película / serie,personal,persona 1,persona 2,persona 3,persona 4,persona 5,persona 6,persona 7,...,persona 18,persona 19,persona 20,imdb,año,género,duración,presupuesto,recuadación,unnamed: 22
0,0,Dune,75,80,20.0,0.0,NaN,74.0,70.0,0.0,...,80,100,80.0,8.0,2021,Acción,155,165000000,402000000,NaN

Ahora usamos `.replace()`para reemplazar cada espacio por un guión bajo y hacer los datos legibles, quiero pensar.

In [133]:
movieTemp.columns = [col.replace(' ','_') for col in movieTemp]
movieTemp.head(1)

,unnamed:_0,película_/_serie,personal,persona_1,persona_2,persona_3,persona_4,persona_5,persona_6,persona_7,...,persona_18,persona_19,persona_20,imdb,año,género,duración,presupuesto,recuadación,unnamed:_22
0,0,Dune,75,80,20.0,0.0,NaN,74.0,70.0,0.0,...,80,100,80.0,8.0,2021,Acción,155,165000000,402000000,NaN

In [28]:
movieTemp.columns

Index(['unnamed:_0', 'película_/_serie', 'personal', 'persona_1', 'persona_2',
       'persona_3', 'persona_4', 'persona_5', 'persona_6', 'persona_7',
       'persona_8', '...', 'persona_17', 'persona_18', 'persona_19',
       'persona_20', 'imdb', 'año', 'género', 'duración', 'presupuesto',
       'recuadación', 'unnamed:_22'],
      dtype='object')

Las funciones `.rename()`y `.replace()`las usamos para cambiar el contenido de nuestros datos, la diferencia es que `.rename()`se utiliza para renombrar una columna o fila del dataframe y `.replace()`reemplaza el valor de a celda.

In [134]:
movieTemp.rename(columns={'película_/_serie': 'title','personal':'personal_rating','año':'year', 'género':'genre', 'duración':'duration',
       'presupuesto':'budget', 'recuadación':'box_office'}, inplace=True)
movieTemp.columns

Index(['unnamed:_0', 'title', 'personal_rating', 'persona_1', 'persona_2',
       'persona_3', 'persona_4', 'persona_5', 'persona_6', 'persona_7',
       'persona_8', '...', 'persona_17', 'persona_18', 'persona_19',
       'persona_20', 'imdb', 'year', 'genre', 'duration', 'budget',
       'box_office', 'unnamed:_22'],
      dtype='object')

In [135]:
movieTemp.columns = [col.replace('persona','person') for col in movieTemp]
# for loop para iterar en todas las columnas
movieTemp.head(1)

,unnamed:_0,title,personl_rating,person_1,person_2,person_3,person_4,person_5,person_6,person_7,...,person_18,person_19,person_20,imdb,year,genre,duration,budget,box_office,unnamed:_22
0,0,Dune,75,80,20.0,0.0,NaN,74.0,70.0,0.0,...,80,100,80.0,8.0,2021,Acción,155,165000000,402000000,NaN

Volvemos a escribir `personal_ratings` ya que se modificó con el code anterior.

In [136]:
movieTemp.rename(columns={'personl_rating':'personal_rating'}, inplace=True)
movieTemp.columns

Index(['unnamed:_0', 'title', 'personal_rating', 'person_1', 'person_2',
       'person_3', 'person_4', 'person_5', 'person_6', 'person_7', 'person_8',
       '...', 'person_17', 'person_18', 'person_19', 'person_20', 'imdb',
       'year', 'genre', 'duration', 'budget', 'box_office', 'unnamed:_22'],
      dtype='object')

In [34]:
movieTemp.head()

,unnamed:_0,title,personal_rating,person_1,person_2,person_3,person_4,person_5,person_6,person_7,...,person_18,person_19,person_20,imdb,year,genre,duration,presupuesto,box_office,unnamed:_22
0,0,Dune,75,80,20.0,0.0,NaN,74.0,70.0,0.0,...,80,100,80.0,8.0,2021,Acción,155,165000000,402000000,NaN
1,1,Soul,90,60,100.0,0.0,91.0,NaN,75.0,90.0,...,85,100,90.0,8.0,2020,Infantil,100,150000000,121000000,NaN
2,2,Joker,100,95,90.0,80.0,79.0,100.0,95.0,80.0,...,90,100,85.0,8.4,2019,Drama,122,55000000,1074000000,NaN
3,3,The Breakfast Club,100,95,NaN,0.0,76.0,80.0,0.0,85.0,...,80,80,90.0,7.8,1985,Comedia,97,1000000,51500000,NaN
4,4,El Camino,100,95,90.0,0.0,70.0,80.0,85.0,85.0,...,90,85,80.0,7.3,2019,Suspenso,122,NaN,Na,NaN

#### Cleaning data

La función `.dropna()` sirve para eliminar las filas o columnas que contienen valores nulos, se puede dar indicaciones con diferentes argumentos pero en este caso no es así.

algunos son:

- `axis` determina si hablamos de columnas `(=0)` que viene predeterminado, o filas `(=1)`.

- `inplace` determina si los cambios se realizan en el mismo dataframe `(=True)` o crea una copia `(=False)`, que viene predeterminado.

In [137]:
movieTemp.dropna()

Empty DataFrame
Columns: [unnamed:_0, title, personal_rating, person_1, person_2, person_3, person_4, person_5, person_6, person_7, person_8, ..., person_17, person_18, person_19, person_20, imdb, year, genre, duration, budget, box_office, unnamed:_22]
Index: []

[0 rows x 23 columns]

In [138]:
movieTemp.head()

,unnamed:_0,title,personal_rating,person_1,person_2,person_3,person_4,person_5,person_6,person_7,...,person_18,person_19,person_20,imdb,year,genre,duration,budget,box_office,unnamed:_22
0,0,Dune,75,80,20.0,0.0,NaN,74.0,70.0,0.0,...,80,100,80.0,8.0,2021,Acción,155,165000000,402000000,NaN
1,1,Soul,90,60,100.0,0.0,91.0,NaN,75.0,90.0,...,85,100,90.0,8.0,2020,Infantil,100,150000000,121000000,NaN
2,2,Joker,100,95,90.0,80.0,79.0,100.0,95.0,80.0,...,90,100,85.0,8.4,2019,Drama,122,55000000,1074000000,NaN
3,3,The Breakfast Club,100,95,NaN,0.0,76.0,80.0,0.0,85.0,...,80,80,90.0,7.8,1985,Comedia,97,1000000,51500000,NaN
4,4,El Camino,100,95,90.0,0.0,70.0,80.0,85.0,85.0,...,90,85,80.0,7.3,2019,Suspenso,122,NaN,Na,NaN

In [39]:
movieTemp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unnamed:_0       33 non-null     int64
 1   title            33 non-null     object
 2   personal_rating  33 non-null     int64
 3   person_1         33 non-null     int64
 4   person_2         31 non-null     float64
 5   person_3         32 non-null     float64
 6   person_4         30 non-null     float64
 7   person_5         32 non-null     float64
 8   person_6         32 non-null     float64
 9   person_7         32 non-null     float64
 10  person_8         32 non-null     object
 11  ...              33 non-null     object
 12  person_17        32 non-null     object
 13  person_18        33 non-null     int64
 14  person_19        33 non-null     int64
 15  person_20        31 non-null     float64
 16  imdb             33 non-null     float64
 17  year             33 non-null     int64
 18  genre            33 non-null     object
 19  duration         33 non-null     object
 20  presupuesto      32 non-null     object
 21  box_office       33 non-null     object
 22  unnamed:_22      0 non-null      float64
dtypes: float64(9), int64(6), object(8)
memory usage: 6.1+ KB

#### Check for duplication

La función `.nunique()` cuenta los valores únicos de cada columna o fila. También se usa `axis` para indicar si queremos columnas o filas. (Columnas por defecto).

In [40]:
movieTemp.nunique()

unnamed:_0         33
title              29
personal_rating    13
person_1           17
person_2           11
person_3            9
person_4           13
person_5           13
person_6           14
person_7           15
person_8           14
...                 6
person_17          11
person_18          10
person_19          15
person_20          11
imdb               22
year               18
genre              11
duration           28
presupuesto        27
box_office         32
unnamed:_22         0
dtype: int64

La función `.value_counts()` devuelve la frecuencia de cada valor único en la columna especificada.

In [41]:
movieTemp['title'].value_counts()

title
The Avengers                                 3
Coco                                         2
Moana                                        2
The Breakfast Club                           1
El Camino                                    1
Joker                                        1
Rio                                          1
Tangled                                      1
Los increíbles                               1
Lilo y stitch                                1
Titanic                                      1
Juego de gemelas                             1
Mean Girls                                   1
Legally Blonde                               1
Doctor Strange                               1
Guardians of the Galaxy                      1
Captain Marvel                               1
Captain America and the Winter Soldier       1
Soul                                         1
Black Widow                                  1
Harry Potter                                 1
El diario de la princesa                     1
Piratas del Caribe: En el fin del mundo      1
Ratatouille                                  1
Piratas del caribe: El cofre de la muerte    1
The amazing Spiderman                        1
The Whale                                    1
Valiente                                     1
Dune                                         1
Name: count, dtype: int64

El método `.set_index()` es para  identificar cada fila de manera única. Por lo que entiendo, convierte la columna o columnas seleccionadas en un índice y no posición que etiqueta a todas las filas de esa columna con un nombre que facilita la manipulación de los datos.

In [140]:
movieTemp.set_index('title',inplace=True)
movieTemp.head()

,unnamed:_0,personal_rating,person_1,person_2,person_3,person_4,person_5,person_6,person_7,person_8,...,person_18,person_19,person_20,imdb,year,genre,duration,budget,box_office,unnamed:_22
title,,,,,,,,,,,,,,,,,,,,,
Dune,0,75,80,20.0,0.0,NaN,74.0,70.0,0.0,90,...,80,100,80.0,8.0,2021,Acción,155,165000000,402000000,NaN
Soul,1,90,60,100.0,0.0,91.0,NaN,75.0,90.0,100,...,85,100,90.0,8.0,2020,Infantil,100,150000000,121000000,NaN
Joker,2,100,95,90.0,80.0,79.0,100.0,95.0,80.0,90,...,90,100,85.0,8.4,2019,Drama,122,55000000,1074000000,NaN
The Breakfast Club,3,100,95,NaN,0.0,76.0,80.0,0.0,85.0,NaN,...,80,80,90.0,7.8,1985,Comedia,97,1000000,51500000,NaN
El Camino,4,100,95,90.0,0.0,70.0,80.0,85.0,85.0,70,...,90,85,80.0,7.3,2019,Suspenso,122,NaN,Na,NaN

Aquí usamos `.loc()` para para buscar datos según el nombre de las fila (que sea el índice) o también para seleccionar columnas específicas.

In [141]:
movieTemp.loc[['Coco','Moana','The Avengers']]

,unnamed:_0,personal_rating,person_1,person_2,person_3,person_4,person_5,person_6,person_7,person_8,...,person_18,person_19,person_20,imdb,year,genre,duration,budget,box_office,unnamed:_22
title,,,,,,,,,,,,,,,,,,,,,
Coco,27,85,80,NaN,50.0,90.0,90.0,88.0,100.0,90,...,80,70,80.0,100.0,2017,Infantil,105,175000000,814300000,NaN
Coco,28,80,90,80.0,80.0,NaN,80.0,90.0,93.0,100,...,87,91,NaN,100.0,2017,Adventure,1h 45m,200000000,814337054,NaN
Moana,29,90,70,100.0,70.0,100.0,70.0,50.0,NaN,90,...,100,100,90.0,90.0,2016,Aventura,107,150000000,687228908,NaN
Moana,30,80,80,50.0,NaN,NaN,82.0,NaN,70.0,100,...,97,87,NaN,70.0,2016,Musical,1h 47m,163000000,682600000,NaN
The Avengers,14,90,79,100.0,100.0,79.0,87.0,100.0,97.0,100,...,79,97,87.0,8.0,2012,Acción,143,220000000,1519000000,NaN
The Avengers,31,90,79,100.0,100.0,79.0,87.0,100.0,97.0,100,...,85,79,97.0,87.0,2012,Acción,143,220000000,1519000000,NaN
The Avengers,32,82,85,60.0,90.0,84.0,90.0,95.0,100.0,100,...,100,70,95.0,90.0,2012,Action,2h 23m,220000000,1520538536,NaN

Vamos a eliminar duplicados y quedarnos con el primero usando `.duplicated()` con el argumento `keep ='first'` y seleccionando el índice con `.index`. Así el código revisa si hay valores repetidos en el índice y se queda con la primera aparición de este. El output del código es una lista de booleans que dan `True` o `False` según si esa fila sea o no un duplicado, menos la primera aparición.

La línea `~` al principio es una negación, que invierte los valores booleanos, y por lo tanto, deja el dataframe únicamente con las columnas que no están repetidas y elimina las demás.

In [142]:
movieTemp = movieTemp[~movieTemp.index.duplicated(keep='first')]
movieTemp.loc[['Coco','Moana','The Avengers']]

,unnamed:_0,personal_rating,person_1,person_2,person_3,person_4,person_5,person_6,person_7,person_8,...,person_18,person_19,person_20,imdb,year,genre,duration,budget,box_office,unnamed:_22
title,,,,,,,,,,,,,,,,,,,,,
Coco,27,85,80,NaN,50.0,90.0,90.0,88.0,100.0,90,...,80,70,80.0,100.0,2017,Infantil,105,175000000,814300000,NaN
Moana,29,90,70,100.0,70.0,100.0,70.0,50.0,NaN,90,...,100,100,90.0,90.0,2016,Aventura,107,150000000,687228908,NaN
The Avengers,14,90,79,100.0,100.0,79.0,87.0,100.0,97.0,100,...,79,97,87.0,8.0,2012,Acción,143,220000000,1519000000,NaN

In [52]:
movieTemp.shape

(29, 22)

In [53]:
movieTemp.nunique()

unnamed:_0         29
personal_rating    12
person_1           17
person_2            9
person_3            9
person_4           12
person_5           12
person_6           14
person_7           13
person_8           14
...                 3
person_17          11
person_18          10
person_19          13
person_20          11
imdb               20
year               18
genre              10
duration           25
presupuesto        26
box_office         29
unnamed:_22         0
dtype: int64

#### Ratings -> float or int

La función `np.array()` crear arreglos a partir de una lista o serie.

In [143]:
print(np.array(movieTemp['personal_rating']))

[ 75  90 100 100 100  70  85  94  87  95 100  95  90  95  90  90  90  87
  88  95  90  95  80  90  85  78  79  85  90]

In [144]:
print(np.array(movieTemp['person_1']))

[ 80  60  95  95  95  60  90  75  80  87  85  75  80  86  79  92  84  97
  39 100 100  80  50  60  40  85  90  80  70]

In [145]:
print(np.array(movieTemp['person_5']))

[ 74.  nan 100.  80.  80. 100.  90.  50. 100. 100. 100.  90.  94.  80.
  87.  97.  87.  97.  83.  70.  73.  60. 100.  50.  90.  80.  80.  90.
  70.]

`.astype()` cambia el tipo de dato de una o más columnas.

In [146]:
movieTemp['person_5'].astype(float)

title
Dune                                          74.0
Soul                                           NaN
Joker                                        100.0
The Breakfast Club                            80.0
El Camino                                     80.0
Valiente                                     100.0
The Whale                                     90.0
The amazing Spiderman                         50.0
Piratas del caribe: El cofre de la muerte    100.0
Ratatouille                                  100.0
Piratas del Caribe: En el fin del mundo      100.0
El diario de la princesa                      90.0
Harry Potter                                  94.0
Black Widow                                   80.0
The Avengers                                  87.0
Captain America and the Winter Soldier        97.0
Captain Marvel                                87.0
Guardians of the Galaxy                       97.0
Doctor Strange                                83.0
Legally Blonde                                70.0
Mean Girls                                    73.0
Juego de gemelas                              60.0
Titanic                                      100.0
Lilo y stitch                                 50.0
Los increíbles                                90.0
Tangled                                       80.0
Rio                                           80.0
Coco                                          90.0
Moana                                         70.0
Name: person_5, dtype: float64

Reemplazamos Na por un valor NULL.

In [147]:
print(np.array(movieTemp['person_5'].replace('Na', np.nan)))

[ 74.  nan 100.  80.  80. 100.  90.  50. 100. 100. 100.  90.  94.  80.
  87.  97.  87.  97.  83.  70.  73.  60. 100.  50.  90.  80.  80.  90.
  70.]

In [148]:
movieTemp['person_5']=movieTemp['person_5'].replace('Na', np.nan)

<ipython-input-148-740be5cd08a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['person_5']=movieTemp['person_5'].replace('Na', np.nan)

In [149]:
print(np.array(movieTemp['person_5']))

[ 74.  nan 100.  80.  80. 100.  90.  50. 100. 100. 100.  90.  94.  80.
  87.  97.  87.  97.  83.  70.  73.  60. 100.  50.  90.  80.  80.  90.
  70.]

In [150]:
movieTemp['person_7']=movieTemp['person_7'].replace('Na', np.nan)
movieTemp['person_8']=movieTemp['person_8'].replace('Na', np.nan)

<ipython-input-150-e7cbcb7be507>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['person_7']=movieTemp['person_7'].replace('Na', np.nan)
<ipython-input-150-e7cbcb7be507>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['person_8']=movieTemp['person_8'].replace('Na', np.nan)

In [151]:
movieTemp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, Dune to Moana
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unnamed:_0       29 non-null     int64
 1   personal_rating  29 non-null     int64
 2   person_1         29 non-null     int64
 3   person_2         27 non-null     float64
 4   person_3         29 non-null     float64
 5   person_4         28 non-null     float64
 6   person_5         28 non-null     float64
 7   person_6         29 non-null     float64
 8   person_7         28 non-null     float64
 9   person_8         27 non-null     object
 10  ...              29 non-null     object
 11  person_17        28 non-null     object
 12  person_18        29 non-null     int64
 13  person_19        29 non-null     int64
 14  person_20        29 non-null     float64
 15  imdb             29 non-null     float64
 16  year             29 non-null     int64
 17  genre            29 non-null     object
 18  duration         29 non-null     object
 19  budget           28 non-null     object
 20  box_office       29 non-null     object
 21  unnamed:_22      0 non-null      float64
dtypes: float64(9), int64(6), object(7)
memory usage: 6.3+ KB

In [152]:
movieTemp['person_5']=movieTemp['person_5'].astype(float)
movieTemp['person_7']=movieTemp['person_7'].astype(float)
movieTemp['person_8']=movieTemp['person_8'].astype(float)

<ipython-input-152-c7a5c7fb562c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['person_5']=movieTemp['person_5'].astype(float)
<ipython-input-152-c7a5c7fb562c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['person_7']=movieTemp['person_7'].astype(float)
<ipython-input-152-c7a5c7fb562c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['person_8']=movieTemp['person_8'].astype(float)

In [153]:
movieTemp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, Dune to Moana
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unnamed:_0       29 non-null     int64
 1   personal_rating  29 non-null     int64
 2   person_1         29 non-null     int64
 3   person_2         27 non-null     float64
 4   person_3         29 non-null     float64
 5   person_4         28 non-null     float64
 6   person_5         28 non-null     float64
 7   person_6         29 non-null     float64
 8   person_7         28 non-null     float64
 9   person_8         27 non-null     float64
 10  ...              29 non-null     object
 11  person_17        28 non-null     object
 12  person_18        29 non-null     int64
 13  person_19        29 non-null     int64
 14  person_20        29 non-null     float64
 15  imdb             29 non-null     float64
 16  year             29 non-null     int64
 17  genre            29 non-null     object
 18  duration         29 non-null     object
 19  budget           28 non-null     object
 20  box_office       29 non-null     object
 21  unnamed:_22      0 non-null      float64
dtypes: float64(10), int64(6), object(6)
memory usage: 6.3+ KB

#### Rescaling Imdb score

Asigna a una variable la columna imdb del dataframe y despliega un arreglo de ella.

In [154]:
imdb_df = movieTemp['imdb']
np.array(imdb_df)

array([  8. ,   8. ,   8.4,   7.8,   7.3,   7.1,   7.7,   6.9,   7.2,
         8.1,   7.1,   6.4,   7.6,   6.7,   8. ,   7.8,   6.8,   8. ,
         7.5,   6.4,   7.1,   6.6,   7.9,   7.3,   8. ,  77. ,  69. ,
       100. ,  90. ])

Usamos `np.where` para devolver los índices (posiciones) donde una condición es verdadera, en este caso, nos devuelve las posiciones en donde el arreglo antes creado tiene valores menores o iguales a 10.

In [155]:
np.where(np.array(imdb_df) <= 10)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24]),)

`imdb_df[:100]` selecciona los primeros 100 valores de la variable `imdb_df` desde el índice 0 hasta el 99 (el índice 100 no está incluido).

In [156]:
imdb_df[:100] = imdb_df[:100]*10
movieTemp['imdb']

<ipython-input-156-2cbecf490f67>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_df[:100] = imdb_df[:100]*10

title
Dune                                           80.0
Soul                                           80.0
Joker                                          84.0
The Breakfast Club                             78.0
El Camino                                      73.0
Valiente                                       71.0
The Whale                                      77.0
The amazing Spiderman                          69.0
Piratas del caribe: El cofre de la muerte      72.0
Ratatouille                                    81.0
Piratas del Caribe: En el fin del mundo        71.0
El diario de la princesa                       64.0
Harry Potter                                   76.0
Black Widow                                    67.0
The Avengers                                   80.0
Captain America and the Winter Soldier         78.0
Captain Marvel                                 68.0
Guardians of the Galaxy                        80.0
Doctor Strange                                 75.0
Legally Blonde                                 64.0
Mean Girls                                     71.0
Juego de gemelas                               66.0
Titanic                                        79.0
Lilo y stitch                                  73.0
Los increíbles                                 80.0
Tangled                                       770.0
Rio                                           690.0
Coco                                         1000.0
Moana                                         900.0
Name: imdb, dtype: float64

Comprobamos que sea un conjunto vacío.

In [157]:
np.where(np.array(imdb_df) <= 10)

(array([], dtype=int64),)

#### Time types

In [158]:
np.array(movieTemp['duration'])

array(['155', '100', '122', '97', '122', '93', '107', '2012', '2006',
       '111', '168', '115', '152', '134', '143', '136', '123', '121',
       '115', '96', '97', '128', '194', '85', '77', '1h 40m', '1h 36m',
       '105', '107'], dtype=object)

In [159]:
len(['155', '100', '122', '97', '122', '83', '180', '102', '105', '93',
       '156', '92', '91', '96', '107', '139', '95', '107', '119', '132',
       '108', '90', '125', '117', '127', '124', '135', '148', '160',
       '152', '165', '109', '183', '122', '2012', '2006', '111', '113',
       '124', '88', '100', '168', '119', '115', '126', '170', '154',
       '112', '127', '114', '110', '128', '115', '152', '134', '143',
       '136', '123', '121', '115', '117', '96', '97', '72', '84', '83',
       '75', '79', '81', '75', '79', '81', '135', '129', '124', '108',
       '94', '97', '148', '78', '128', '77', '109', '142', '146', '123',
       '137', '95', '107', '123', '152', '104', '194', '85', '100', '90',
       '169', '96', '100', '77'])

100

Se le asignan a `timestamp_df` todas las filas desde el índice 100 en adelante de 'duration'.

In [160]:
timestamp_df = movieTemp['duration'][:100]
timestamp_df

title
Dune                                            155
Soul                                            100
Joker                                           122
The Breakfast Club                               97
El Camino                                       122
Valiente                                         93
The Whale                                       107
The amazing Spiderman                          2012
Piratas del caribe: El cofre de la muerte      2006
Ratatouille                                     111
Piratas del Caribe: En el fin del mundo         168
El diario de la princesa                        115
Harry Potter                                    152
Black Widow                                     134
The Avengers                                    143
Captain America and the Winter Soldier          136
Captain Marvel                                  123
Guardians of the Galaxy                         121
Doctor Strange                                  115
Legally Blonde                                   96
Mean Girls                                       97
Juego de gemelas                                128
Titanic                                         194
Lilo y stitch                                    85
Los increíbles                                   77
Tangled                                      1h 40m
Rio                                          1h 36m
Coco                                            105
Moana                                           107
Name: duration, dtype: object

Aquí convertimos las duraciones a minutos, `pd.to_timedelta` toma nuestra variable y convierte su contenido a un formato de duración manejable. Después `.dt.seconds // 60`  devuelve la cantidad de segundos de la duración que ha sido convertida y luego divide entre 60 para obtener los minutos.

In [161]:
timestamp_new = pd.to_timedelta(timestamp_df).dt.seconds // 60

In [162]:
timestamp_new.info()

<class 'pandas.core.series.Series'>
Index: 29 entries, Dune to Moana
Series name: duration
Non-Null Count  Dtype
--------------  -----
29 non-null     int32
dtypes: int32(1)
memory usage: 1.4+ KB

In [163]:
 movieTemp['duration'][:100] = timestamp_new

<ipython-input-163-ac1feccf62e2>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  movieTemp['duration'][:100] = timestamp_new
<ipython-input-163-ac1feccf62e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['duration'][:100] = timestamp_new

In [164]:
 movieTemp['duration'].info()

<class 'pandas.core.series.Series'>
Index: 29 entries, Dune to Moana
Series name: duration
Non-Null Count  Dtype
--------------  -----
29 non-null     object
dtypes: object(1)
memory usage: 1.5+ KB

In [165]:
 movieTemp['duration']= movieTemp['duration'].astype(int)

<ipython-input-165-f35bdde9a58b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['duration']= movieTemp['duration'].astype(int)

In [166]:
 movieTemp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, Dune to Moana
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unnamed:_0       29 non-null     int64
 1   personal_rating  29 non-null     int64
 2   person_1         29 non-null     int64
 3   person_2         27 non-null     float64
 4   person_3         29 non-null     float64
 5   person_4         28 non-null     float64
 6   person_5         28 non-null     float64
 7   person_6         29 non-null     float64
 8   person_7         28 non-null     float64
 9   person_8         27 non-null     float64
 10  ...              29 non-null     object
 11  person_17        28 non-null     object
 12  person_18        29 non-null     int64
 13  person_19        29 non-null     int64
 14  person_20        29 non-null     float64
 15  imdb             29 non-null     float64
 16  year             29 non-null     int64
 17  genre            29 non-null     object
 18  duration         29 non-null     int64
 19  budget           28 non-null     object
 20  box_office       29 non-null     object
 21  unnamed:_22      0 non-null      float64
dtypes: float64(10), int64(7), object(5)
memory usage: 6.3+ KB

#### Cleaning monetary variables

In [167]:
movieTemp['budget']

title
Dune                                             165000000
Soul                                             150000000
Joker                                             55000000
The Breakfast Club                                 1000000
El Camino                                              NaN
Valiente                                         185000000
The Whale                                          3000000
The amazing Spiderman                            230000000
Piratas del caribe: El cofre de la muerte        255000000
Ratatouille                                      150000000
Piratas del Caribe: En el fin del mundo          300000000
El diario de la princesa                          26000000
Harry Potter                                     120000000
Black Widow                                      200000000
The Avengers                                     220000000
Captain America and the Winter Soldier           170000000
Captain Marvel                                   152000000
Guardians of the Galaxy                          250000000
Doctor Strange                                   294500000
Legally Blonde                                    18000000
Mean Girls                                        17000000
Juego de gemelas                                  15000000
Titanic                                      $$200,000,000
Lilo y stitch                                     80000000
Los increíbles                                $$92,000,000
Tangled                                          260000000
Rio                                               90000000
Coco                                             175000000
Moana                                            150000000
Name: budget, dtype: object

Queremos cambiar el tipo dato de la columna duration a float, pero nos da un error.
Para corregirlo vamos a remover el signo de peso y las comas que están en los valores como strings con el método `.replace()`. `regex=True` es para realizar una búsqueda por patrones, es decir que va a buscar más allá de la cadena de texto exacta que le presentamos si no que va a buscar más coincidencias y después de esta limpieza de datos podemos convertir los datos de duration a float.

In [168]:
movieTemp['budget'] = np.array(movieTemp['budget'].str.replace('\$','',regex=True))

<ipython-input-168-b031d56271e8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['budget'] = np.array(movieTemp['budget'].str.replace('\$','',regex=True))

In [169]:
movieTemp['budget'] = movieTemp['budget'].str.replace('\,','',regex=True)

<ipython-input-169-8bebf866278f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['budget'] = movieTemp['budget'].str.replace('\,','',regex=True)

In [170]:
movieTemp['budget'].astype(float)

title
Dune                                         165000000.0
Soul                                         150000000.0
Joker                                         55000000.0
The Breakfast Club                             1000000.0
El Camino                                            NaN
Valiente                                     185000000.0
The Whale                                      3000000.0
The amazing Spiderman                        230000000.0
Piratas del caribe: El cofre de la muerte    255000000.0
Ratatouille                                  150000000.0
Piratas del Caribe: En el fin del mundo      300000000.0
El diario de la princesa                      26000000.0
Harry Potter                                 120000000.0
Black Widow                                  200000000.0
The Avengers                                 220000000.0
Captain America and the Winter Soldier       170000000.0
Captain Marvel                               152000000.0
Guardians of the Galaxy                      250000000.0
Doctor Strange                               294500000.0
Legally Blonde                                18000000.0
Mean Girls                                    17000000.0
Juego de gemelas                              15000000.0
Titanic                                      200000000.0
Lilo y stitch                                 80000000.0
Los increíbles                                92000000.0
Tangled                                      260000000.0
Rio                                           90000000.0
Coco                                         175000000.0
Moana                                        150000000.0
Name: budget, dtype: float64

In [171]:
movieTemp['budget']= movieTemp['budget'].astype(float)

<ipython-input-171-aa1e2d6fa72a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['budget']= movieTemp['budget'].astype(float)

In [172]:
movieTemp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, Dune to Moana
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unnamed:_0       29 non-null     int64
 1   personal_rating  29 non-null     int64
 2   person_1         29 non-null     int64
 3   person_2         27 non-null     float64
 4   person_3         29 non-null     float64
 5   person_4         28 non-null     float64
 6   person_5         28 non-null     float64
 7   person_6         29 non-null     float64
 8   person_7         28 non-null     float64
 9   person_8         27 non-null     float64
 10  ...              29 non-null     object
 11  person_17        28 non-null     object
 12  person_18        29 non-null     int64
 13  person_19        29 non-null     int64
 14  person_20        29 non-null     float64
 15  imdb             29 non-null     float64
 16  year             29 non-null     int64
 17  genre            29 non-null     object
 18  duration         29 non-null     int64
 19  budget           28 non-null     float64
 20  box_office       29 non-null     object
 21  unnamed:_22      0 non-null      float64
dtypes: float64(11), int64(7), object(4)
memory usage: 6.3+ KB

In [173]:
movieTemp['box_office']=movieTemp['box_office'].str.replace('\$','',regex=True)
movieTemp['box_office']=movieTemp['box_office'].str.replace(',','',regex=True)

<ipython-input-173-46887355cd51>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['box_office']=movieTemp['box_office'].str.replace('\$','',regex=True)
<ipython-input-173-46887355cd51>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['box_office']=movieTemp['box_office'].str.replace(',','',regex=True)

In [174]:
movieTemp['box_office']=movieTemp['box_office'].str.replace(' ','',regex=True)

<ipython-input-174-ffe0a58838b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['box_office']=movieTemp['box_office'].str.replace(' ','',regex=True)

In [176]:
np.array(movieTemp['box_office'])

array(['402000000', '121000000', '1074000000', '51500000', 'Na',
       '540400000', '54900000', '748400.001', '1065000', '630700000',
       '963400000', '165000000', '974800000', '379000000', '1519000000',
       '714400000', '1131000000', '845500000', '677800000', '141800000',
       '1390100000', '92108659', '2264743305', '273144151', '631607053',
       '592462816', '483866772', '814300000', '687228908'], dtype=object)

In [179]:
movieTemp['box_office'][4]=np.nan
movieTemp['box_office'][4]

<ipython-input-179-adc7e52785ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['box_office'][4]=np.nan
<ipython-input-179-adc7e52785ef>:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  movieTemp['box_office'][4]=np.nan
<ipython-input-179-adc7e52785ef>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movieTemp['box_office'][4]

nan

In [180]:
movieTemp['box_office']=movieTemp['box_office'].astype(float)

<ipython-input-180-bdc94a5f878d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['box_office']=movieTemp['box_office'].astype(float)

In [181]:
movieTemp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, Dune to Moana
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unnamed:_0       29 non-null     int64
 1   personal_rating  29 non-null     int64
 2   person_1         29 non-null     int64
 3   person_2         27 non-null     float64
 4   person_3         29 non-null     float64
 5   person_4         28 non-null     float64
 6   person_5         28 non-null     float64
 7   person_6         29 non-null     float64
 8   person_7         28 non-null     float64
 9   person_8         27 non-null     float64
 10  ...              29 non-null     object
 11  person_17        28 non-null     object
 12  person_18        29 non-null     int64
 13  person_19        29 non-null     int64
 14  person_20        29 non-null     float64
 15  imdb             29 non-null     float64
 16  year             29 non-null     int64
 17  genre            29 non-null     object
 18  duration         29 non-null     int64
 19  budget           28 non-null     float64
 20  box_office       27 non-null     float64
 21  unnamed:_22      0 non-null      float64
dtypes: float64(12), int64(7), object(3)
memory usage: 6.3+ KB

In [182]:
movieTemp['box_office']=movieTemp['box_office']/1000000
movieTemp['budget']=movieTemp['budget']/1000000

<ipython-input-182-3c12fc2ba5f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['box_office']=movieTemp['box_office']/1000000
<ipython-input-182-3c12fc2ba5f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['budget']=movieTemp['budget']/1000000

In [183]:
movieTemp[['box_office','budget']]

                                            box_office  budget
title
Dune                                        402.000000   165.0
Soul                                        121.000000   150.0
Joker                                      1074.000000    55.0
The Breakfast Club                           51.500000     1.0
El Camino                                          NaN     NaN
Valiente                                    540.400000   185.0
The Whale                                    54.900000     3.0
The amazing Spiderman                         0.748400   230.0
Piratas del caribe: El cofre de la muerte     1.065000   255.0
Ratatouille                                 630.700000   150.0
Piratas del Caribe: En el fin del mundo     963.400000   300.0
El diario de la princesa                    165.000000    26.0
Harry Potter                                974.800000   120.0
Black Widow                                 379.000000   200.0
The Avengers                               1519.000000   220.0
Captain America and the Winter Soldier      714.400000   170.0
Captain Marvel                             1131.000000   152.0
Guardians of the Galaxy                     845.500000   250.0
Doctor Strange                              677.800000   294.5
Legally Blonde                              141.800000    18.0
Mean Girls                                 1390.100000    17.0
Juego de gemelas                             92.108659    15.0
Titanic                                    2264.743305   200.0
Lilo y stitch                               273.144151    80.0
Los increíbles                              631.607053    92.0
Tangled                                     592.462816   260.0
Rio                                         483.866772    90.0
Coco                                               NaN   175.0
Moana                                       687.228908   150.0

#### Cleaning `genre` column

Nada que no hayamos hecho antes

In [184]:
np.array(movieTemp['genre'])

array(['Acción', 'Infantil', 'Drama', 'Comedia', 'Suspenso', 'Infantil',
       'Drama', 'Acción', 'Aventura', 'Infantil', 'Aventura', 'Romance',
       'Fantasía', 'Acción', 'Acción', 'Acción', 'Acción', 'Acción',
       'Acción', 'Comedia', 'Comedia', 'Comedia', 'Romance', 'Aventura',
       'Acción', 'Musical', 'Adventure', 'Infantil', 'Aventura'],
      dtype=object)

In [185]:
movieTemp['genre'].value_counts()

genre
Acción       9
Infantil     4
Comedia      4
Aventura     4
Drama        2
Romance      2
Suspenso     1
Fantasía     1
Musical      1
Adventure    1
Name: count, dtype: int64

In [186]:
movieTemp['genre']=[name.lower() for name in movieTemp['genre']]
movieTemp['genre'].value_counts()

<ipython-input-186-45493f404ba1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=[name.lower() for name in movieTemp['genre']]

genre
acción       9
infantil     4
comedia      4
aventura     4
drama        2
romance      2
suspenso     1
fantasía     1
musical      1
adventure    1
Name: count, dtype: int64

In [187]:
movieTemp['genre']=movieTemp['genre'].replace('infantil ','infantil')
movieTemp['genre']=movieTemp['genre'].replace('infantil','kids')
movieTemp['genre']=movieTemp['genre'].replace('acción','action')
movieTemp['genre']=movieTemp['genre'].replace('aventura','adventure')
movieTemp['genre']=movieTemp['genre'].replace('comedia','comedy')
movieTemp['genre']=movieTemp['genre'].replace('ficción','fiction')
movieTemp['genre']=movieTemp['genre'].replace('suspenso','suspense')
movieTemp['genre']=movieTemp['genre'].replace('fantasía','fantasy')
movieTemp['genre']=movieTemp['genre'].replace('misterio','mistery')
movieTemp['genre']=movieTemp['genre'].replace('crimen','crime')
movieTemp['genre']=movieTemp['genre'].replace('biografía','biography')
movieTemp['genre']=movieTemp['genre'].replace('ciencia ficción','science_fiction')
movieTemp['genre']=movieTemp['genre'].replace('science fiction','science_fiction')

<ipython-input-187-110359dc01bc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('infantil ','infantil')
<ipython-input-187-110359dc01bc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('infantil','kids')
<ipython-input-187-110359dc01bc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('acción','action')
<ipython-input-187-110359dc01bc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('aventura','adventure')
<ipython-input-187-110359dc01bc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('comedia','comedy')
<ipython-input-187-110359dc01bc>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('ficción','fiction')
<ipython-input-187-110359dc01bc>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('suspenso','suspense')
<ipython-input-187-110359dc01bc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('fantasía','fantasy')
<ipython-input-187-110359dc01bc>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('misterio','mistery')
<ipython-input-187-110359dc01bc>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('crimen','crime')
<ipython-input-187-110359dc01bc>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('biografía','biography')
<ipython-input-187-110359dc01bc>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('ciencia ficción','science_fiction')
<ipython-input-187-110359dc01bc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieTemp['genre']=movieTemp['genre'].replace('science fiction','science_fiction')

In [188]:
movieTemp['genre'].value_counts()

genre
action       9
adventure    5
kids         4
comedy       4
drama        2
romance      2
suspense     1
fantasy      1
musical      1
Name: count, dtype: int64

In [189]:
np.array(movieTemp['genre'])

array(['action', 'kids', 'drama', 'comedy', 'suspense', 'kids', 'drama',
       'action', 'adventure', 'kids', 'adventure', 'romance', 'fantasy',
       'action', 'action', 'action', 'action', 'action', 'action',
       'comedy', 'comedy', 'comedy', 'romance', 'adventure', 'action',
       'musical', 'adventure', 'kids', 'adventure'], dtype=object)

El método `.describe()` sirve para generar un resumen estadístico de los datos de un dataframe. Da una visión rápida y útil de las estadísticas.

In [190]:
movieTemp.describe()

,unnamed:_0,personal_rating,person_1,person_2,person_3,person_4,person_5,person_6,person_7,person_8,person_18,person_19,person_20,imdb,year,duration,budget,box_office,unnamed:_22
count,29.000000,29.000000,29.000000,27.000000,29.000000,28.000000,28.000000,29.000000,28.000000,27.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,28.000000,27.000000,0.0
mean,14.034483,89.241379,78.931034,88.148148,71.965517,87.857143,84.000000,79.551724,86.928571,88.740741,88.689655,88.655172,88.517241,179.896552,2009.931034,6.758621,143.696429,622.343521,NaN
std,8.575225,7.585961,16.645315,18.515490,32.583391,9.383651,14.552587,21.011198,18.789139,10.917849,8.644170,10.104016,10.005787,272.503125,8.955968,25.277962,91.991278,537.415353,NaN
min,0.000000,70.000000,39.000000,20.000000,0.000000,69.000000,50.000000,0.000000,0.000000,60.000000,70.000000,65.000000,65.000000,64.000000,1985.000000,0.000000,1.000000,0.748400,NaN
25%,7.000000,85.000000,75.000000,83.500000,60.000000,80.000000,78.500000,70.000000,85.000000,81.500000,80.000000,80.000000,80.000000,71.000000,2004.000000,0.000000,73.750000,153.400000,NaN
50%,14.000000,90.000000,80.000000,98.000000,80.000000,87.000000,87.000000,87.000000,90.000000,90.000000,90.000000,89.000000,90.000000,77.000000,2012.000000,0.000000,151.000000,592.462816,NaN
75%,21.000000,95.000000,90.000000,100.000000,95.000000,97.750000,97.000000,90.000000,95.500000,98.000000,95.000000,100.000000,97.000000,80.000000,2017.000000,0.000000,205.000000,904.450000,NaN
max,29.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1000.000000,2022.000000,100.000000,300.000000,2264.743305,NaN

#### Saving clean DataFrame to `csv`file

Por último, guardamos cambios con `.to_csv` :D

In [193]:
movieTemp.to_csv('/content/reviews_pelis.csv')